{% extends 'base.html' %}
{% load tags %}

{% block header %}

<style type="text/css">
    .filter-select-box{
        height: 250px!important;
        width: 100%;
        border-radius: 3px;
    }
</style>
{% endblock %}

{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#">河北大学CRM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="javascript:void (0);">{{ request.user }}</a></li>
{#            <li><a href="#">Settings</a></li>#}
{#            <li><a href="#">Profile</a></li>#}
{#            <li><a href="https://v3.bootcss.com/examples/dashboard/#">Help</a></li>#}
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>


    <div class="container-fluid jumbotron">
        <div class="">
            <div class="panel panel-primary">

              <div class="panel-heading">更新数据</div>

              <div class="panel-body">
                  <form class="form-horizontal container" role="form" method="post" onsubmit="return SelectAllChosenData()">{% csrf_token %}
                        <span style="color: red">{{ form_obj.errors }}</span>
                      {% for field in form_obj %}
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label" style="font-weight: normal">
                            {% if field.field.required %}
                                <b>{{ field.label }}<span style="color: red">*</span></b>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>


                        <div class="col-sm-6">
                {#          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">#}

                            {% if field.name in admin_class.filter_horizontal %}
                                <div class="col-md-5">
                                    {% get_m2m_obj_list admin_class field form_obj as m2m_obj_list%}
                                    <select id="id_{{ field.name }}_from"  multiple class="filter-select-box">
                                        {% for obj in m2m_obj_list %}
                                            <option ondblclick="MoveElementTo(this,'id_{{ field.name }}_to','id_{{ field.name }}_from')"  value="{{ obj.id }}">{{ obj }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    箭头
                                </div>
                                <div class="col-md-5" >
                                    {% get_m2m_selected_obj_list form_obj field  as selected_obj_list %}
                                    <select tag="chosen_list" id="id_{{ field.name }}_to" name="{{ field.name }}" multiple class="filter-select-box">

                                        {% for obj in selected_obj_list %}
                                        <option value="{{ obj.id }}" ondblclick="MoveElementTo(this,'id_{{ field.name }}_from','id_{{ field.name }}_to')" >{{ obj }}</option>
                                        {% endfor %}
                                    </select>

                {#                    {% print_obj_methods form_obj %}#}
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                            {#   {{ field.field.required }}#}
{#                          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">#}
                        </div>
                      </div>
                      {% endfor %}

                      <div class="form-group col-sm-10">
                      <div class="col-sm-2">

                        <a class="btn btn-danger" href="{% url 'obj_delete' app_name table_name form_obj.instance.id %}">Delete</a>

                        </div>
                          <button class="btn btn-success pull-right" type="submit">Save</button>
                      </div>
                  </form>
              </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}

 <script>
    function MoveElementTo(ele,target_id,new_target_id) {
        var opt_ele="<option value="+$(ele).val()+"' ondblclick=MoveElementTo(this, '"+ new_target_id+ "')>"+$(ele).text()+"</option>";
        $("#"+ target_id ).append(opt_ele);
        $(ele).remove();
    }

    function SelectAllChosenData() {
        $("select[tag='chosen_list']option").each(function () {
            $(this).prop("selected",true);
        });
        return true;
    }
</script>


{% endblock %}